# Core
Flask==1.1.2

# Models
Flask-MongoEngine==0.9.5
RandomWords==0.2.1

# Views
Flask-API==3.0
Flask-Bootstrap==3.3.7.1
Flask-Nav==0.6

# Deployment
Flask-Script==2.0.6
gunicorn==20.0.4
eventlet==0.25.2
