# Core
Flask==0.12.1

# Models
Flask-MongoEngine==0.9.2
RandomWords==0.2.1

# Views
Flask-API==0.7b2
Flask-Bootstrap==3.3.7.1
Flask-Nav==0.6

# Deployment
Flask-Script==2.0.5
gunicorn==19.7.1
eventlet==0.21.0
