{% extends "kcards.html" %}

{% block content %}
{{ super() }}
    <!-- Heading -->
    <div class="jumbotron text-center">
        <h1>K-Cards</h1>
    </div>

    <!-- Content -->
    <div class="container ">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3>What room would you like to join?</h3>

                <form method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="code" placeholder="room-code"></input>
                    </div>
                    <div class="form-inline">
                        <input type="submit" class="form-control" name="goto" value="Go to Room"></input>
                        <input type="submit" class="form-control" name="create" value="Create Room"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
