{% extends "kcards.html" %}

{% block title %} | Room Options{% endblock %}

{% block body %}

<h1>Sharing</h1>
<br>
<input id="room-link" value="{{ link }}" readonly style="width: 300px">
<button class="btn" data-clipboard-target="#room-link">Copy Link</button>

<hr>

<h1>Settings</h1>
<br>
<form method="post">
    <input type="text" name="name" value="{{ name }}"></input>
    <input type="submit" name="rename" value="Change Name"></input>
    <button class="btn">Back</button>
</form>

<hr>

<h1>Danger Zone</h1>
<br>
<form method="post">
    <input type="submit" name="clear" value="Clear Queue"></input>
    <input type="submit" name="delete" value="Delete Room"></input>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>
<script src="/static/options.js"></script>
{% endblock%}

{% block footer %}
    <div class="footer">{{ code }}</div>
{% endblock %}
